@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}


/* Styling af indhold i bar */
.top-bar{
    display: flex;
    padding: 5px 25px;   
    background: #212529;
    align-items: center;
    justify-content: space-between;
}

/* tekst */
.top-bar span{
    color: aliceblue;
}

/* Styling af boks */
.top-bar ul{
    color: #CCE4EB;
    list-style: none; 
    display: flex;
}

/* SoMe links */
.top-bar li{
    margin: 2px 10px;
    font-size: 155%;
}

/* Hovednav */
nav{
    background-color: #0C0B0B;
    padding: 5px 25px;
    display: flex;
    align-items: center;
}

/* tekst */
nav a{ 
    color: aliceblue;
}

.top-bar span{
    font-size: 120%;

}

/* Logo */
.logo img{
    width: 45px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: solid white 1px;
}

.logo{
    flex: 1;
}

/* Links */
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

/* Links til hovednavigation styling */
a, a:hover{
    text-decoration: none;
}

.menu li{
    padding: 10px 10px;
    font-size: 20px;
}
